@mixin breakword($line:1) {
    // white-space:nowrap;
    text-overflow:ellipsis;
    // overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $line;
    overflow: hidden;
    word-wrap: break-word;
}